In [1]:
print("Hello world2!")

Hello world2!

In [2]:
print("Hello", "Aurélien", "How are you?")

Hello Aurélien How are you?

In [3]:
print(1,"plus",2 , "equals", 1+2)

1 plus 2 equals 3

In [6]:
name=input("Give me your name: ")
print("Hello,", name)

Give me your name: Jack
Hello, Jack

In the example below, the string entered by the user is stored the variable name. Try executing the program in the interactive notebook by pressing control-enter!

In [8]:
for i in range(3):
    print("Hello")
print("Bye!")

Hello
Hello
Hello
Bye!

The range(3) expression above actually results with the sequence of integers 0, 1, and 2. So, the range is a half-open interval with the end point excluded from the range. In general, expression range(n) gives integers 0, 1, 2, …, n-1. Modify the above program to make it also print the value of variable i at each iteration. Rerun the code with control-enter.

Exercise 2 (compliment)

In [ ]:
from?=input("Where are you from?: ") 
print(("I have heard that"), Where_are_you_from, ("is a beautiful country"))

In [ ]:
### NG words - Already defined by Python: def, from, none, import, ... lot..!!! also ?,! or

In [25]:
home_country=input("Where is your home_county: ")
print(("I have heard that"), home_country, ("is a beautiful country "))

Where is your home_county: FI
I have heard that FI is a beautiful country

Still it is not what shold be looks like on the examples

In [1]:
Where_are_you_from=input("Where are you from?: ") 
print(("I have heard that"), Where_are_you_from, ("is a beautiful country"))

Where are you from?: Finland
I have heard that Finland  is a beautiful country

Correct code is using lope with range and variable.

In [29]:
for _ in range(2):
    Where_are_you_from=input("Where are you from?: ") 
    print(("I have heard that"), Where_are_you_from, ("is a beautiful country"))

Where are you from?: Finland
I have heard that Finland  is a beautiful country
Where are you from?: Japan
I have heard that Japan is a beautiful country

Exercise 3 (multiplication)

for _ in range(10):
    four_multilied_by=input("4 multiplied by: ")
    
    print(("4 multipies by", "(n+1)", four_multilied_by , "is" 4*n+1))
    
    
File "<ipython-input-5-1ca0d04c76bc>", line 4
    print(("4 multipies by", "(n+1)", four_multilied_by , "is" range(10))
                                                                   ^
SyntaxError: invalid syntax

    
    I dont know what to do....

I had to cheat!! https://www.programiz.com/python-programming/online-compiler/?ref=7443c4dd

#Multiplication table (from 1 to 10) in Python

num = 12

#To take input from the user
#num = int(input("Display multiplication table of? "))

#Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)
   
So...below....

In [23]:
four = 4

for x in range(0,11):
    print(four, ('multiplied by'), x, ("is"), four*x)

4 multiplied by 0 is 0
4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40

## Variables and data types

In [24]:
a=1

print(a)

1

In [29]:
type(a)

int

Note that we did not need to introduce the variable a in any way. No type was given for the variable. Python automatically detected that the type of a must be int (an integer). We can query the type of a variable with the builtin function type:

In [30]:
a='some text'
type(a)

str

In Python the type of a variable is not attached to the name of the variable, like in C for instance, but instead with the actual value. This is called dynamic typing.

We say that a variable is a name that refers to a value or an object, and the assignment operator binds a variable name to a value.

The basic data types in Python are: int,
                                    float, 
                                    complex, 
                                    str (a string), 
                                    bool (a boolean with values True and False),
                                    bytes

In [31]:
i=5
f=1.5
b = i==4
print("Result of the comparison:", b)
c=0+2j                                 # Note that j denotes the imaginary unit of complex numbers.
print("Complex multiplication:", c*c)
s="conca" + "tenation"
print(s)

Result of the comparison: False
Complex multiplication: (-4+0j)
concatenation

In [35]:
print(i)
print(f)
print(b)
print(i)
print(c)
print(s)

5
1.5
False
5
2j
concatenation

In [36]:
type(i)
type(f)
type(b)
type(i)
type(c)
type(s)

str

The names of the types act as conversion operators between types:

In [1]:
print(int(-2.8))
print(float(2))
print(int("123"))
print(bool(-2), bool(0))  # Zero is interpreted as False
print(str(234))

-2
2.0
123
True False
234

A byte is a unit of information that can represent numbers between 0 and 255. A byte consists of 8 bits, which can in turn represent either 0 or 1. All the data that is stored on disks or transmitted across the internet are sequences of bytes. Normally we don’t have to care about bytes, since our strings and other variables are automatically converted to a sequence of bytes when needed to. An example of the correspondence between the usual data types and bytes is the characters in a string. A single character is encoded as a sequence of one or more bytes. For example, in the common UTF-8 encoding the character c corresponds to the byte with integer value 99 and the character ä corresponds to sequence of bytes [195, 164]. An example conversion between characters and bytes:

In [3]:
b="ä".encode("utf-8")    # Covert charactor(s) to a sequence of bytes
print(b)                 # Prints bytes in hexadecial notation - hexadecimal:16進数/進法
print(list(b))           # Prints bytes in decimal notation

b'\xc3\xa4'
[195, 164]

In [5]:
bytes.decode(b, "utf-8")  # Convert sequence of bytes to character(s)

'ä'

## Createing Strings

A string is a sequence of characters commonly used to store input or output data in a program. The characters of a string are specified either between single (') or double (") quotes. This optionality is useful if, for example, a string needs to contain a quotation mark: “I don’t want to go!”. You can also achieve this by escaping the quotation mark with the backslash: ‘I don’t want to go’.

The string can also contain other escape sequences like \n for newline and \t for a tabulator. See literals for a list of all escape sequences.

In [7]:
print("One\tTwo\nThree\tFour")

One	Two
Three	Four

A string containing newlines can be easily given within triple double or triple single quotes:

In [13]:
s="""A string
spanning over
sevral lines"""

Although we can concatenate strings using the + operator, for effiency reasons, one should use the join method to concatenate larger number of strings:

In [16]:
a="first"
b="second"
print(a+b)
print(" ".join([a, b, b, a]))   # More about the join method later.

firstsecond
first second second first

Sometimes printing by concatenation from pieces can be clumsy

In [25]:
print(str(1) + " plus " + str(3) + " is equal to " + str(4))
# slightly better
print(1, "plus", 3, "is equal to", 4)

1 plus 3 is equal to 4
1 plus 3 is equal to 4

The multiple catenation and quotation characters break the flow of thought. String interpolation offers somewhat easier syntax.

There are multiple ways to do sting interpolation:

* Python format strings
* the format method
* f-strings

Examples of these can be seen below:

In [26]:
print("%i plus %i is equal to %i" %(1, 3, 4))      # Format syntax

print("{} plus {} is equal to {}".format(1, 3, 4)) # Format method

print(f"{1} plus {3} is equal to {4}")             # f-string

1 plus 3 is equal to 4
1 plus 3 is equal to 4
1 plus 3 is equal to 4

The i format specifier in the format syntacs corresponds to integers and the specifier f corresponds to floats. When using f-strings or the format method, integers use d instead. In format strings specifiers can usually be omitted and are generally used only when specific formatting is required. For example in f-strings f"{4:3d}" would specify the number 4 left padded with spaces to 3 digits.

It is often useful to specify the number of decimals when printing floats:

In [34]:
print("%.1f %.2f %.3f" % (1.6, 1.7, 1.8))           # Old style
print("{:.1f} {:.2f} {:.3f}".format(1.6, 1.7, 1.8)) # newer style
print(f"{1.6:.1f} {1.7:.2f} {1.8:.3f}")             # f-string

1.6 1.70 1.800
1.6 1.70 1.800
1.6 1.70 1.800

The specifier s is used for strings. An example:

In [51]:
print("%s concatenated with %s produces %s" % ("water", "melon", "water"+"melon"))
print("{0} concatenated with {1} produces {0}{1}".format("water", "melon"))
print(f"{'water'} concatenated with {'melon'} procudes {'water' + 'melon'}")

water concatenated with melon produces watermelon
water concatenated with melon produces watermelon
water concatenated with melon procudes watermelon

Look here for more details about format specifiers, and for comparison between the old and new style of string interpolation.

Different ways of string interpolation have different strengths and weaknesses. Generally choosing which to use is a matter of personal preference. On this course examples and model solutions will predominantly use f-strings and the format method.

## Expressions

An expression is a piece of Python code that results in a value. It consists of values combined together with operators. Values can be literals, such as 1, 1.2, "text", or variables. Operators include arithmetics operators, comparison operators, function call, indexing, attribute references, among others. Below there are a few examples of expressions:

1+2
7/(2+0.1)
a
cos(0)
mylist[a]
c > 0 and c !=1
(1,2,3)
a<5
obj.attr
(-1)**2 == 1

Note that in Python the operator // performs integer division and operator / performs float division. The ** operator denotes exponentiation. These operators might therefore behave differently than in many other common languages.

As another example the following expression computes the kinetic energy of a non-rotating object: 

0.5 * mass * velocity**2

## Statements

Statements are commands that have some effect. For example, a function call (that is not part of another expression) is a statement. Also, the variable assignment is a statement:

In [57]:
i = 5
i = i+1   # This is a commong idiom to increment the value of i by one
i += 1    # This is a short-hand for the above

Note that in Python there are no operators ++ or -- unlike in some other languages.

It turns out that the operators + - * / // % & | ^ >> << ** have the corresponding augmented assignment operators += -= *= /= //= %= &= |= ^= >>= <<= **=

Another large set of statements is the flow-control statements such as if-else, for and while loops. We will look into these in the next sections.

## Loops for repetitive tasks

In Python we have two kinds of loops: while and for. We briefly saw the for loop earlier. Let’s now look at the while loop. A while loop repeats a set of statements while a given condition holds. An example:

In [62]:
i=1
while i*i <1000:
    print("Square of ", i, "is", i*i)
    i = i+1
print("Finished printing all the squares below 1000.")

Square of  1 is 1
Square of  2 is 4
Square of  3 is 9
Square of  4 is 16
Square of  5 is 25
Square of  6 is 36
Square of  7 is 49
Square of  8 is 64
Square of  9 is 81
Square of  10 is 100
Square of  11 is 121
Square of  12 is 144
Square of  13 is 169
Square of  14 is 196
Square of  15 is 225
Square of  16 is 256
Square of  17 is 289
Square of  18 is 324
Square of  19 is 361
Square of  20 is 400
Square of  21 is 441
Square of  22 is 484
Square of  23 is 529
Square of  24 is 576
Square of  25 is 625
Square of  26 is 676
Square of  27 is 729
Square of  28 is 784
Square of  29 is 841
Square of  30 is 900
Square of  31 is 961
Finished printing all the squares below 1000.

Note again that the body of the while statement was marked with the indentation.

Another way of repeating statements is with the for statement. An example:

In [48]:
s=0
for i in [0,1,2,3,4,5,6,7,8,9]:
    s = s + i                            # Meaning 0+0, 0+1, 0+2,....0+9
print("the sum is", s)

the sum is 45

The for loop executes the statements in the block as many times as there are elements in the given list. At each iteration the variable i refers to another value from the list in order. Instead of the giving the list explicitly as above, we could have used the generator range(10) which returns values from the sequence 0,1,…,9 as the for loop asks for a new value. In the most general form the for loop goes through all the elements in an iterable. Besides lists and generators there are other iterables. We will talk about iterables and generators later this week.

When one wants to iterate through all the elements in an iterable, then the for loop is a natural choice. But sometimes while loops offer cleaner solution. For instance, if we want to go through all Fibonacci numbers up till a given limit, then it is easier to do with a while loop.

## Exercise 4 (multiplication table)

In the main function print a multiplication table, which is shown below:

In [59]:
col = 1,2,3,4,5,6,7,8,9,10
n_row = [('1','2','3','4','5','6','7','8','9','10')]

for col in [1,2,3,4,5,6,7,8,9,10]:
    s = ["n_row"]*col 
    
    print(s)

['n_row']
['n_row', 'n_row']
['n_row', 'n_row', 'n_row']
['n_row', 'n_row', 'n_row', 'n_row']
['n_row', 'n_row', 'n_row', 'n_row', 'n_row']
['n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row']
['n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row']
['n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row']
['n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row']
['n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row', 'n_row']

In [ ]:
s=0
for i in [0,1,2,3,4,5,6,7,8,9]:
    s = s + i                            # Meaning 0+0, 0+1, 0+2,....0+9
print("the sum is", s)

In [62]:
r = 1,2,3,4,5,6,7,8,9,10
c = 1,2,3,4,5,6,7,8,9,10
o = r*c 


type(o)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [78]:
layout = "{0:>8}{1:>4}{2:>4}{3:>4}{4:>4}{5:>4}{6:>4}" \
         "{7:>4}{8:>4}{9:>5}{10:>5}{11:>5}"

layout2 = "{0:>1}{1:>6}{2:>4}{3:>4}{4:>4}{5:>4}" \
          "{6:>4}{7:>4}{8:>4}{9:>4}{10:>4}{11:>4}{12:>4}"

print(layout.format(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12))
print(" :-----------------------------------------------------")

for i in range(1, 13):
    print(layout2.format(str(i) + ":", i*1, i*2, i*3, i*4, i*5, i*6,
                         i*7, i*8, i*9, i*10, i*11, i*12))

       1   2   3   4   5   6   7   8   9   10   11   12
 :-----------------------------------------------------
1:     1   2   3   4   5   6   7   8   9  10  11  12
2:     2   4   6   8  10  12  14  16  18  20  22  24
3:     3   6   9  12  15  18  21  24  27  30  33  36
4:     4   8  12  16  20  24  28  32  36  40  44  48
5:     5  10  15  20  25  30  35  40  45  50  55  60
6:     6  12  18  24  30  36  42  48  54  60  66  72
7:     7  14  21  28  35  42  49  56  63  70  77  84
8:     8  16  24  32  40  48  56  64  72  80  88  96
9:     9  18  27  36  45  54  63  72  81  90  99 108
10:    10  20  30  40  50  60  70  80  90 100 110 120
11:    11  22  33  44  55  66  77  88  99 110 121 132
12:    12  24  36  48  60  72  84  96 108 120 132 144

But I do not need the layout ....

In [81]:
for i in range(1, 11):
    print(i*1, i*2, i*3, i*4, i*5, i*6, i*7, i*8, i*9, i*10)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

It woks but still the line is not that organized as like the example...


Also... what is the "main" function....?

QNA